<link rel="stylesheet" type="text/css" href="style/header.css">

<header>
    <div class="blank"></div>
    
    <a href="index.html" target="_top" class="wrap_logo">
        <img src="res/icons/logo-insa.jpg" alt="Retourner sur la page d'accueil"/>
    </a>

    <div class="boutons">
        <a href="index.html" target="_top" class="bouton vert">
            <img src="res/icons/home.svg" alt="Home" title="Aller sur la page d'accueil"/>
            Index
        </a>

        <a href="map.html" target="_top" class="bouton violet">
            <img src="res/icons/map.svg" alt="Carte" title="Aller sur la carte"/>  
            Carte
        </a>

        <a href="liste.html" target="_top" class="bouton orange">
            <img src="res/icons/list.svg" alt="Liste des universités" title="Aller sur la liste des universités"/>
            Universités
        </a>

        <a href="about.html" target="_top" class="bouton bleu">
            <img src="res/icons/about.svg" alt="A propos" title="Aller sur la liste des universités"/>
            À propos
        </a>
    </div>
</header>