.plagiat{
    height : 70px;
    width : auto;
    float: right;
}

section{
    width: 50%;
    min-width: 290px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.margeG {
    margin-left: 30px;
}

.titre {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
    color: white;

    letter-spacing: 16px;
    font-size: 40px;
    
    height: 200px;
    width: 50%;
    min-width: 290px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}