* {
	margin : 0;
	padding : 0;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer
{
    min-width: 300px;
    white-space:nowrap;
    height: auto;
    color: white;
    background-color: #e42618;
}

#bloc_de_droite
{
    color: black;
    background-color: #f2f2f2;
    padding: 0 20px 0 20px;
    height: 100%;
    min-width: 15%;
}

#image_INSA
{
    height: 36px;
    width: 36px;
    padding-right: 20px;
}
