* {
    padding : 0;
    margin : 0;
    border: 0;
    font-family: Arial;
}

html {
    height: 100%;
}

body {
   min-height:100%;
   position:relative;
   padding-bottom: 62px;
   margin-top: -62px;
}

body::before{
    content: '';
    height: 62px;
    display: block;
}

iframe#header {
    position: sticky;
    top: 0;
    height: 70px;
    width : 100%;
    overflow: hidden;
    z-index: 1;
}

iframe#footer {
    height : 62px;
    width : 100%;
    overflow: hidden;

    position:absolute;
    bottom:0;
    width:100%;
}

@media screen and (max-width: 646px) {
    iframe#footer {
        height: 110px;
    }

    body {
        padding-bottom: 110px;
        margin-top: -110px;
     }
     
     body::before{
        content: '';
        height: 110px;
        display: block;
     }
}

@media screen and (max-width: 440px) {
    iframe#footer {
        height: 147px;
    }

    body {
        padding-bottom: 147px;
        margin-top: -147px;
     }
     
     body::before{
        content: '';
        height: 147px;
        display: block;
     }
}

#map{
    z-index: 0;
}