* {
    padding : 0;
    margin : 0;
    border: 0;
    font-size: 100%;
}

@media screen and (max-width: 430px) {
    .bouton {
        font-size: 0;
        padding-right: 0 !important;
    }

    .boutons img {
        margin-right: 0 !important;
    }
}

header {
    display: flex;
    position: relative;
    height: 100%;
    background-color: #bebebef5;
}

.blank{
    width: 20%;
    height: 100%;
    background-color: white;
}

.wrap_logo {
    display: block;
    background-color: #ffffff;
    width: 208px;
    height: auto;
    display: flex;
    position: relative;
}

.wrap_logo img {
    display: block;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: auto;
}

.wrap_logo::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 200%;
    background-color: white;
    transform: rotate(-13deg);
    top: 0;
    right: -20%;
    z-index: 0;
}

.boutons{
    width: 100%;
    min-width: 150px;
    height: auto;

    text-transform: uppercase;
    color: #5f6062;
    font-family: "verbcondregular", sans-serif;
    font-size: 0.85em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 4%;
}


.bouton{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    padding-right: 5px;
    
}

.vert {
    border-bottom: 2px solid rgb(79, 119, 52);
}

.orange {
    border-bottom: 2px solid rgb(168, 98, 33);
}

.violet {
    border-bottom: 2px solid rgb(119, 39, 165);
}

.bleu {
    border-bottom: 2px solid rgb(41, 63, 160);
}

.bouton:hover{
    filter: invert(50%);
}

.boutons img{
    height: 20px;
    width: 100%;
    margin-right: 5px;
}