section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section img{
    flex-shrink: 1;
    margin-bottom: 15px;
}

.corps{
    margin-top: 10px;
    width: 80%;
    margin-bottom: 20px;
}

iframe{
    display: block;
}

/*Valeurs par default de <ul> */
ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px; 
}

.Images {
    min-width: 1140px;
    height: 400px;
    display: none;
}

.sshow {
    margin-top: 20px;
    object-fit: cover;
    position: relative;
    width: 80%;
    max-width: 1140px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px #ababab;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sshow button{
    background-color: rgba(255, 255, 255, 0.212);
    height : 100%;
    width : 35px;
    position: absolute;
    z-index: 1;
    top : 0;
}

.sshow .boutonG{
    left : 0;
}

.sshow .boutonD{
    right : 0;
}

.sshow button:hover{
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.712)
}

.arrow {
    width : auto;
    height : auto;
}