select{
    height:30px;
    width: 150px;
    padding: 2px;
    color: #747474;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
	box-shadow: inset 1px 1px 5px #ddd8dc;
}

.universite{
	background-color: rgba(242, 242, 242, 0.92);
	margin-top: 20px;	
	padding: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #ababab;
	width: 100%;
	height: auto;
	text-align: justify;
	transition: margin 0.15s;
}

.universite:hover{
	cursor: pointer;
	margin-left: 20px;
}

.universite h2 {
	text-transform: capitalize;
	font-family: 'Segoe UI';
}

.univlist{
	width: 50%;
	min-width: 450px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.univlist a {
	text-decoration: none;
	color: black;
}

.topUniv{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.topUniv .text{
	width: 80%;
	margin-left: 0;
}

.topUniv img{
	height: 100px;
	margin-right: 5px;
	width: auto;
}

.universite h2{
	margin-bottom: 10px;
	text-align: left;
}

.infos{
	margin-top: 20px;
	font-size: 0.9em;
}

.filtre{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

@media screen and (max-width: 500px) {
	.univlist{
		width: 90%;
		min-width: 250px;
		min-width: 0;
	}

    .filtre{
		flex-direction: column;
		margin-top: -5px;
	}

	.filtre select{
		margin-top: 5px;
	}
}

#pasDeResultat{
	margin-top: 20px;
	display: None;
}