section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

iframe{
    display: block;
}

.wrap_map{
    width: 60%;
    height: 500px;
    
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px #ababab;
}

@media screen and (max-width: 830px) {
    .wrap_map{
        width: 90%;
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .wrap_map{
        width: 90%;
        height: 400px;
    }
}

#map{
    width: 100%;
    height: 100%;
}