.main {
    margin-left : auto;
    margin-right : auto;
    width : 75%;
    padding-top : 20px;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.case {
    margin : 15px 25px 25px 0;
    width: 200px;
    height: auto;
}

.tags {
    background-color: #f2f2f2;
    padding: 20px;
    width: 160px;
    border-radius: 15px;
}

.description {
    text-align: justify;
}

#map {
    width: 200px;
    height: 200px;
}

.image {
    width: 200px;
    height: 200px;
}

.paragraphe {
    display: flex;
    flex-direction: row-reverse;
    align-content: row;
    height : auto;
    align-items: center;
}

.paragraphe img {
    max-height : 200px;
    height: 200px;
    min-height: 100px;
    width : auto;
}

.texte {
    margin-right: 60px;
}

.titre{
    height: 60px;

    letter-spacing: 5px;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapCitation {
    font-style: italic;
    font-size: 1.2em;
}

.citation {
    display: inline;
}

.citation::before {
    content: open-quote;
    font-size: 40px;
}

.citation::after {
    content: close-quote;
    font-size: 40px;
}

.wrapCitation p {
    margin-left: 45px;
}

@media screen and (max-width: 1100px) {
    .flexbox.main {
        position: relative;
        padding-top: 250px;
    }

    .flexbox.column {
        min-width: 650px;
        position: absolute;
        top : 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }

    .paragraphe {
        display: block;
    }

    .paragraphe img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .texte {
        margin-right: 0px;
    }

}

@media screen and (max-width: 742px) {
    .flexbox.main {
        padding-top: 500px;
    }

    .flexbox.column {
        min-width: 0;
        position: absolute;
        top : 0;

        width: 100%;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media screen and (max-width: 615px) {
    .flexbox.main {
        padding-top: 800px;
    }
}