#fullscreenPinata{
    height: auto;
    width: auto;
    background-image: url("pinata.png");
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    transition: transform, 10ms ease;
}

#pinataModalBox{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.932);
    z-index: 100;
}

#pinata {
    position: relative;
    z-index: 0;
}

#pinataHitbox {
    position : absolute;
    background-image: url("pinata.png");
    background-repeat: no-repeat;
    background-size: cover;
	top : -10px;
	left : 50%;
	width : 95px;
    height : 137px;
    z-index: -1;
    transition: transform 0.5s;
}

#pinataHitbox:hover {
    cursor: pointer;
    transform: translateY(-30px);
}

#pinataHitbox:active {
    transform: translateY(-100px);
}


.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    animation: shoot 3s ease-out infinite;
    animation-name: shoot, fade;
}

@keyframes shoot {
    0% {
        transform: translate(50vw, 50vh);
    }
}
@keyframes fade {
    to {
        opacity: 0;
    }
}